@{
    var db = Database.Open("conn"); //abrir mi base de datos
    var SQLSELECT = "SELECT CodEmp, Nombre, Apellido, CI, Direccion, Telefono FROM Empleado"; //los datos que queremos estirar de nuestra tabla
    var data = db.Query(SQLSELECT); //ejecuto, sqlselect es la variable que almacena nuestra consulta
    var grilla = new WebGrid(source: data, rowsPerPage: 10); //rows= cantidad de filas --- razor

    <body>
        @grilla.GetHtml(columns: grilla.Columns(
        grilla.Column("CodEmp", "Codigo", format: @<a href=" "> @item.CodEmp </a>),
        //grilla.Column("CodEmp", "Codigo", format: @<span> @item.CodEmp </span>),
        grilla.Column("Nombre", "Nombre", format: @<a href=" "> @item.Nombre </a>),
        grilla.Column("Apellido", "Apellido", format: @<a href=" "> @item.Apellido </a>),
        grilla.Column ("CI", "CI", format: @<a href=" " > @item.CI </a>),
        grilla.Column("Direccion", "Direccion", format: @<a href=" "> @item.Direccion </a>),
        grilla.Column("Telefono", "Telefono", format: @<a href=" "> @item.Telefono </a>))
        )

    </body>
}
